---
import Hamburger from "../components/Hamburger.astro"
import Navigation from "../components/Navigation.astro"
---
<header>
  <nav class="nav-links">
    <Hamburger/>
    <Navigation />
  </nav>
</header>

